<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <link href="./file/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1 class="headline">
          <a>RBTI</a>
        </h1>
    </header>
    <div class = mypage>
        ユーザー情報
    </div>
    <div class = mypage>
        いいね
    </div>
    <div class = mypage>
        マッチリスト
    </div>
    <div class = mypage>
        メッセージ
    </div>
    <div class = mypage>
        設定
    </div>
    <div class = mypage>
        Q & A
    </div>
    <footer>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a style="color: #d1d0d0;" href="./home">Home</a>
            </li>
            <li class="nav-list-item">
                <a style="color: #d1d0d0;" href="./search">Search</a>
            </li>
            <li class="nav-list-item">
                <a style="color: #ffffff;" href="./mypage">MyPage</a>
            </li>
        </ul>
    </footer>
</body>
</html>