<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>register</title>
    <link href="./file/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1 class="headline">
          <a>RBTI</a>
        </h1>
    </header>
    <div class="register-parent">
    <div class="register-form">
        <h1 class="register">ユーザー登録</h1>
        <form action="/" method="POST" enctype="multipart/form-data" id = "format">
            <p>
                氏名 : <input type="text" name="NAME">
            </p>
            <p>
                MBTI :
                <select name="mbti">
                    <option value=""></option>
                    <option value="entp">ENTP</option>
                    <option value="intp">INTP</option>
                    <option value="intj">INTJ</option>
                    <option value="entj">ENTJ</option>
                    <option value="enfp">ENFP</option>
                    <option value="infp">INFP</option>
                    <option value="enfj">ENFJ</option>
                    <option value="infj">INFJ</option>
                    <option value="esfj">ESFJ</option>
                    <option value="isfj">ISFJ</option>
                    <option value="istj">ISTJ</option>
                    <option value="estj">ESTJ</option>
                    <option value="esfp">ESFP</option>
                    <option value="isfp">ISFP</option>
                    <option value="istp">ISTP</option>
                    <option value="estp">ESTP</option>
                </select>
            </p>
            <p>
                楽器 :
                <select name="inst">
                    <option value=""></option>
                    <option value="vo">ボーカル</option>
                    <option value="gt">ギター</option>
                    <option value="ba">ベース</option>
                    <option value="dr">ドラム</option>
                    <option value="key">キーボード</option>
                    <option value="tp">トランペット</option>
                    <option value="tb">トロンボーン</option>
                    <option value="sax">サックス</option>
                </select>
            </p>
            <p>
                ジャンル :
                <select name="genre">
                    <option value=""></option>
                    <option value="pops">ポップス</option>
                    <option value="rock">ロック</option>
                    <option value="jazz">ジャズ</option>
                </select>
            </p>
            <p>
                活動場所 :
                <select name="place">
                    <option value=""></option>
                    <option value="hokkaido">北海道</option>
                    <option value="aomori">青森</option>
                    <option value="iwate">岩手</option>
                    <option value="miyagi">宮城</option>
                    <option value="akita">秋田</option>
                    <option value="yamagata">山形</option>
                    <option value="hukusima">福島</option>
                    <option value="ibaraki">茨城</option>
                    <option value="totigi">栃木</option>
                    <option value="gunnma">群馬</option>
                    <option value="saitama">埼玉</option>
                    <option value="tiba">千葉</option>
                    <option value="tokyo">東京</option>
                    <option value="kanagawa">神奈川</option>
                    <option value="yamanasi">山梨</option>
                    <option value="nagano">長野</option>
                    <option value="niigata">新潟</option>
                    <option value="toyama">富山</option>
                    <option value="ishikawa">石川</option>
                    <option value="hukui">福井</option>
                    <option value="gihu">岐阜</option>
                    <option value="sizuoka">静岡</option>
                    <option value="aichi">愛知</option>
                    <option value="mie">三重</option>
                    <option value="siga">滋賀</option>
                    <option value="kyoto">京都</option>
                    <option value="osaka">大阪</option>
                    <option value="hyogo">兵庫</option>
                    <option value="nara">奈良</option>
                    <option value="wakayama">和歌山</option>
                    <option value="tottori">鳥取</option>
                    <option value="shimane">島根</option>
                    <option value="okanaya">岡山</option>
                    <option value="hirosima">広島</option>
                    <option value="yamaguti">山口</option>
                    <option value="hukusima">徳島</option>
                    <option value="kagawa">香川</option>
                    <option value="ehime">愛媛</option>
                    <option value="kouchi">高知</option>
                    <option value="hukuoka">福岡</option>
                    <option value="saga">佐賀</option>
                    <option value="nagasaki">長崎</option>
                    <option value="kumamoto">熊本</option>
                    <option value="oita">大分</option>
                    <option value="miyazaki">宮崎</option>
                    <option value="kagoshima">鹿児島</option>
                    <option value="okinawa">沖縄</option>

                </select>
            </p>
            <p><input type="submit" value="OK" class="ok"></p>
        </form>
    </div>
    </div>
</body>
</html>